body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rancho', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Sulphur Point', sans-serif;
    background-color: #000;

}
main{
    background-image: url('../images/bg1.png');
    background-attachment: fixed;
    background-position: center; 
}
h1, h2, h3, h4, h5{
    font-family: 'Righteous', cursive;
}
.navbar-brand img{
    height: 50px;
}
.bg-black{
    background-color: #000;
}
.text-black{
    color: #000;
}
.btn-yellow{
    background-color: #fdbf14 !important;
    border-color: #fdbf14 !important;
    color: #000;
}
.btn-yellow:hover,
.btn-yellow:focus{
    background-color: #e7af16 !important;
    border-color: #e7af16 !important;
}
header nav{
    background-color: rgba(255, 255, 255, .1);
}
header nav .navbar-nav li:not(:last-child){
    margin-right: 1em;
}
header nav .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
}
.cusheading {
    margin-bottom: 0;
    font-size: 26px;
    color: #fff;
    text-overflow: ellipsis;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: .5px;
}
.heading {
    background: linear-gradient(45deg, #3d3d3d, transparent);
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}
.heading a.btn{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
    color: #000;
    border-radius: 20px;
    padding: 6px 16px 4px;
    font-weight: bold;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.bigslide-inner .owl-item a {
    display: block;
}
.bigslide-inner .owl-item a img {
    width: 100%;
    border-radius: 3px;
}
.bigslide-inner .owl-dots {
    margin: 0 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bigslide-inner .owl-dots button.owl-dot {
    outline: none !important;
    box-shadow: none !important;
}
.bigslide-inner .owl-dots button.owl-dot span {
    background: #ffffff;
    width: 22px;
    height: 4px;
    border-radius: 3px;
}
.bigslide-inner .owl-dots button.owl-dot.active span, .bigslide-inner .owl-dots button.owl-dot:hover span {
    background: #fdbf14;
}
.bigslide-inner .owl-item .item a {
    position: relative;
    z-index: 1;
}
.bigslide-inner .owl-item .item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(0 0 0 / 97%), transparent);
    pointer-events: none;
}

.small-slideinner .owl-item a {
    display: block;
    text-decoration: none !important;
}
.small-slideinner .owl-item a img {
    width: 100%;
    border-radius: 3px;
    height: 130px;
}
.small-slideinner .owl-item a h4 {
    font-size: 15px;
    padding-top: 5px;
    color: #fff;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 600;
    letter-spacing: .8px;
    max-width: 96%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.navbar-toggler {
    color: #fff !important;
    border-color: #fdbf14 !important;
    background-color: #fdbf14;
    padding: 5px 8px;
    font-size: 13px;
}
@media screen and (max-width: 991px){
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        height: 100% !important;
        width: 0%;
        background-color: #000000ed;
        z-index: 9;
        padding: 20px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    .navbar-collapse.show{
        width: 65%;
        visibility: visible;
        opacity: 1;
    }
    button.navbar-toggler[aria-expanded="true"] span.navbar-toggler-icon {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: flex;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        background: none !important;
        justify-content: center;
        align-items: center;
        color: #000;
    }
    button.navbar-toggler[aria-expanded="true"] span.navbar-toggler-icon:before {
        content: "\f00d";
    }
    .navbar-nav .dropdown-menu {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
        margin: 0;
    }
    .navbar-nav .dropdown-menu .dropdown-item {
        color: #fff !important;
    }
    .navbar-nav .dropdown-menu .dropdown-item {
        color: #fff !important;
        padding: 2px 10px;
    }
}
@media screen and (max-width: 575px){
    .small-slideinner .owl-item a img {
        height: 160px;
    }
    .cusheading {
        font-size: 20px;
    }
    main {
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
    }
}